<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1 class="graphic-hed">Unemployment claims by ZIP code</h1>
        <p class="graphic-chatter">Job losses during the pandemic have often fallen hardest in lower-income communities.</p>
      </section>

      <div class="aspect-ratio-outer">

        <aside class="legend">
          <h2>Percent of residents filing for unemployment</h2>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #fcc5c0"></span>0.1-10%</li> 
            <li>
              <span class="block" style="background-color: #f768a1"></span>11-20%</li>
            <li>
              <span class="block" style="background-color: #ae017e"></span>21-30%</li>
            <li>
              <span class="block" style="background-color: #49006a"></span>31% or more residents</li>
          </ul>
        </aside>
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=9>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>


      </div>

      <div class="caption-container">
        <div class="data-source">Note: Claims data are for continuing claims filed between April 12 and December 12.<br>Sources: Washington state Employment Security Department, Washington Office of Financial Management (2020 population estimates)</div>
        <div class="art-credit">Emily M. Eng / The Seattle Times</div>
      </div>
  </responsive-child>

  <script src="app.js"></script>
  <%= t.include("partials/_workHere.html") %>
</body>

</html>
